*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */
header{
    width: 100vw;
    min-height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    z-index: 30;

}

.container-header{
    width: 100vw;
    min-height: 100px;
    position: relative;

}

.container-piccolo-header{
    min-height: 30px;
    min-width: 30px;
    /* border: 1px solid black; */
    margin-top: 0;
    position: absolute;
    top: 0;
    right: 20px;
}

.container-piccolo-header > div{
    display: inline-block;
    color: white;
}

.container-piccolo-header > div > div{
    display: inline-block;
    border-radius: 5px;
}

.container-piccolo-header > div:not(:last-child){
    background-color: rgba(128, 128, 128, 0.5);
    padding: 3px 5px;
    border-radius: 5px;
    margin-top: 3px;

}

#icona-singola-header{
    margin-left: 5px;
    background-color: rgba(128, 128, 128, 0.5);
    padding: 3px 5px;
    border-radius: 5px;
    margin-top: 3px;
}

.icone-header{
    font-size: 10px;
}




/* MAIN */
main{
    width: 100vw;
    min-height: 600px;
    background-color: black;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;

}

.container{
    width: 90%;
    min-height: 600px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
    margin-bottom: 100px;

}
.img{
    background-image: url(https://cdn.pixabay.com/photo/2016/10/21/14/50/plouzane-1758197__480.jpg);
    width: 300px;
    height: 200px;
    background-size: cover;
    background-position: center;

    background-repeat: no-repeat;
    margin: 5px;
    position: relative;
}

.text-img{
    position: absolute;
    left: 0;
    bottom: 0;
    color: white;
    background-color: rgba(128, 128, 128, 0.5);

}

.text-img > div{
    display: inline-block;
    min-width: 20px;
}


.icone-main{
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 15px;    
}

/* FOOTER */

footer{
    background-color: rgba(34,34,34,255);
    width: 100vw;
    height: 80px;
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
}

.footer-left{
    display: flex;
}

.icon{
    display: flex;
    flex-direction: column;
    background: none;
    border: none;
    color: white;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 20px;
    padding: 10px 5px;

}

.footer-center{
    display: flex;
}

#green-icon{
    color: rgba(75,200,0,255);
}



.footer-right {
    display: flex;
    background-color: rgba(74,74,74,255);

}

#right{
    color: rgba(209,26,2,255);
}