*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */
header{
    width: 100vw;
    min-height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: lightblue;
    z-index: 30;
}

.container-header{
    position: relative;
}

header > .container-header > .contained-header > div{
    display: inline-block;
    height: 100px;
    min-width: 100px;
    border: 1px solid black;
    position: relative;
    

}

.contained-header{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}

.icone-header{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    font-size: 40px;
    ;
}


.text-header{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50% , 0%);
    display: inline-block;
}




/* MAIN */
main{
    width: 100vw;
    min-height: 600px;
    background-color: black;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;

}

.container{
    width: 90%;
    min-height: 600px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
    margin-bottom: 100px;

}
.img{
    background-image: url(https://picsum.photos/seed/picsum/200/300);
    width: 300px;
    height: 200px;
    background-size: cover;
    background-position: center;
    margin: 5px;
    position: relative;
}

.text-img{
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: orange;
    color: white;
}

/* FOOTER */

footer{
    background-color: gray;
    width: 100vw;
    max-height: 100px;
    position: fixed;
    left: 0;
    bottom: 0;
}

.container-footer{
    display: flex;
    justify-content: space-between;
}

footer > .container-footer > .footer-left > div{
    display: inline-block;
    height: 100px;
    min-width: 100px;
    border: 1px solid black;
    position: relative;
}

footer > .container-footer > .footer-center > div{
    display: inline-block;
    height: 100px;
    min-width: 100px;
    border: 1px solid black;
    position: relative;

}

footer > .container-footer > .footer-right > div{
    display: inline-block;
    height: 100px;
    min-width: 100px;
    border: 1px solid black;
    position: relative;

}

.icone-footer{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    font-size: 40px;
    ;
}

.text-footer{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50% , 0%);
}